<head>
    <link rel="stylesheet" href="/order/order.content/order-content.styles.css"/>
</head>

<div class="app-modal-window">
    <div class="modal-header">
        <span>{{order.date}}</span>
        <span class="order-details">Status: {{order.status}}</span>
        <button type="button" class="close" data-dismiss="modal" aria-hidden  ng-click="cancel()">&#128473;</button>
    </div>

    <div class="modal-body">

        <div ng-repeat="content in orderContentList">

            <img ng-src="data:image/jpeg;base64,{{content.product.photo}}" id="productPhoto">

            <div class="column">
                <div id="productName">
                    {{content.product.name}}
                </div>
                <div id="productPrice">Price:&nbsp;{{content.product.price}}&nbsp;$</div>
            </div>

            <div class="column">
                <div id="quantity">
                    Quantity:&nbsp;<b>{{content.quantity}}</b>
                </div>
                <div id="total">Total:&nbsp;{{sumPrice(content.product, content.quantity)}}&nbsp;$</div>
            </div>

            <hr>
        </div>

        <div id="orderContainer">
            <span id="orderAmount">Order amount:&nbsp;{{order.price}}&nbsp;$</span>
        </div>

    </div>

</div>
