#panel-heading {
    text-align: center;
    color: #2c5c11;
    font-size: 18px;
    font-weight: bold;
    font-family: Cambria;
}
.panel-body {
    padding: 20px;
}
.thumbnail {
    border-radius: 0px;
    margin: 10px;
    height: 402px;
    width: 402px;
    padding: 0;
}
#photo {
    width: 400px;
    height: 400px;
}
#capital-row {
    font-weight: bold;
    height: 40px;
}
#price {
    padding: 2px 6px 2px 6px;
    background-color: #9edf1f;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border-radius: 5px;
}
div#price-container {
    margin-top: 10px;
}
a#category {
    color: inherit;
}
div#main-information {
    margin-top: 10px;
    padding-left: 10px;
}
div#capacity {
    margin-top: 30px;
    margin-bottom: 50px
}
div#description {
    margin-top: 50px;
}