#panel-heading {
    text-align: center;
    color: #2c5c11;
    font-size: 18px;
    font-weight: bold;
    font-family: Cambria;
    position: relative;
}
.thumbnail {
    border-radius: 0px;
    margin: 0;
    height: 430px;
    width: 300px;
    padding: 0;
}
#outer-container {
    padding: 5px;
    height: 450px;
    width: 310px;
    position: relative;
}
#photo {
    width: 298px;
    height: 298px;
}
#inner-container {
    padding: 5px;
}
#capital-row {
    margin: 5px;
    height: 40px;
    font-weight: bold;
}
.row {
    margin: 5px;
}
#inStockStatus {
    float: right;
    color: #5cb85c;
}
#soldOutStatus {
    float: right;
    color: #717171;
}
#price {
    padding: 1px 5px 1px 5px;
    background-color: #9edf1f;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border-radius: 5px;
}
#buy-button {
    float: right;
    margin: 10px;
}
a.clickable-panel {
    text-decoration: none;
    color: inherit;
}
#name-clickable-panel{
    color: inherit;
}
.category-actions-button {
    height: 24px;
    padding-top: 1px;
    margin-left: 2px;
    width: 103px;
}
#create-panel {
    color: inherit;
    position: absolute;
    right: 15px;
}
#edit-container {
    position: absolute;
    margin: 6px;
    right: 5px;
    visibility: hidden;
}
#edit-button {
    margin-right: 15px;
}
