#panel-heading {
    text-align: center;
    color: #2c5c11;
    font-size: 18px;
    font-weight: bold;
    font-family: Cambria;
}
.thumbnail {
    border-radius: 0px;
    margin: 0;
    height: 430px;
    width: 300px;
    padding: 0;
}
#outer-container {
    padding: 5px;
    height: 450px;
    width: 310px;
}
#photo {
    width: 298px;
    height: 298px;
}
#inner-container {
    padding: 5px;
}
#capital-row {
    margin: 5px;
    height: 40px;
    font-weight: bold;
}
.row {
    margin: 5px;
}
#inStockStatus {
    float: right;
    color: #5cb85c;
}
#soldOutStatus {
    float: right;
    color: #717171;
}
#price {
    padding: 1px 5px 1px 5px;
    background-color: #9edf1f;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border-radius: 5px;
}
#buy-button {
    float: right;
    margin: 10px;
}
a.clickable-panel {
    text-decoration: none;
    color: inherit;
}
#name-clickable-panel{
    color: inherit;
}
