<head>
    <link rel="stylesheet" href="/catalog/products/catalog-products.styles.css"/>
</head>

<div id="panel-heading" class="panel-heading">
    {{categoryName}}
    <span id="create-panel" ng-if="isAuthority('ADMIN')">
        <a id="create-product" href="#!/catalog/products/create/">
            <button type="button" class="btn btn-default category-actions-button">Add product</button>
        </a>
        <a href="#!/catalog/categories/create/">
            <button type="button" class="btn btn-default category-actions-button">Add category</button>
        </a>
    </span>
    <hr id="hr-heading">
</div>
<div class="panel-body">
    <div ng-repeat="product in products | orderBy:orderProp">
        <div id="outer-container" class="col-xs-3"
             onmouseover="mouseOverProduct(this)" onmouseout="mouseOutProduct(this)">

            <div id="edit-container" ng-show="isAuthority('ADMIN')">
                <span type="button" class="close glyphicon glyphicon-remove" ng-click="delete(product)"
                      data-toggle="tooltip" title="Remove"></span>
                <a href="#!/catalog/products/edit/{{product.id}}">
                    <span id="edit-button" type="button" class="close glyphicon glyphicon-pencil"
                          data-toggle="tooltip" title="Edit"></span>
                </a>
            </div>

            <a class="clickable-panel" href="#!/catalog/{{product.category.name}}/{{product.id}}">
                <div class="thumbnail panel-body" >

                    <img ng-src="data:image/jpeg;base64,{{product.photo}}" id="photo">

                    <div id="inner-container">
                        <a id="name-clickable-panel" href="#!/catalog/{{product.category.name}}/{{product.id}}">
                            <div id="capital-row">
                                {{product.name}}
                            </div>
                        </a>
                        <a class="clickable-panel" href="#!/catalog/{{product.category.name}}/{{product.id}}">
                        <div class="row">
                            {{product.capacity}}&nbsp;l
                            <span ng-show="isInStock(product)" id="inStockStatus">In stock</span>
                            <span ng-hide="isInStock(product)" id="soldOutStatus">Sold out</span>
                        </div>
                        <div class="row">
                            <span id="price">{{product.price}}&nbsp;$</span>
                            <a>
                            <button ng-disabled="!isInStock(product)" ng-click="addToCart(product)"
                                    type="button" class="btn btn-success" id="buy-button">Add to Cart</button>
                            </a>
                        </div>
                        </a>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>