.thumbnail {
    border-radius: 0px;
    margin: 0;
    height: 360px;
    width: 300px;
    padding: 0;
    position: relative;
}
.container {
    padding: 5px;
    height: 370px;
    width: 310px;
}
#photo {
    width: 298px;
    height: 298px;
}
#inner-container {
    padding: 5px;
}
.capital-row {
    margin: 5px;
    height: 40px;
    font-weight: bold;
    text-align: center;
    color: #2c5c11;
    font-size: 18px;
    font-family: Castellar;
}
#panel-heading {
    text-align: center;
    color: #2c5c11;
    font-size: 18px;
    font-weight: bold;
    font-family: Cambria;
    position: relative;
}
#create-panel {
    color: inherit;
    position: absolute;
    right: 15px;
}
#edit-container {
    position: absolute;
    margin: 5px;
    right: 0px;
    visibility: hidden;
}
#edit-button {
    margin-right: 15px;
}
.category-actions-button {
    height: 24px;
    padding-top: 1px;
    margin-left: 2px;
    width: 103px;
}