<head>
    <link rel="stylesheet" href="/catalog/categories/catalog-categories.styles.css"/>
</head>

<div id="panel-heading" class="panel-heading">
    Classification
    <a id="createCategory" href="#!/catalog/categories/create/" ng-if="isAuthority('ADMIN')">
        <button type="button" class="btn btn-default" style="height: 24px; padding-top: 1px;">Add category</button>
        <!--<span class="glyphicon glyphicon-plus"></span>-->
    </a>
</div>
<div class="panel-body">
    <div ng-repeat="category in categories | orderBy:orderProp">
        <div class="col-xs-3 container">
            <div class="thumbnail" onmouseover="mouseOver(this)" onmouseout="mouseOut(this)">
                <div id="edit-container" ng-show="isAuthority('ADMIN')">
                    <span type="button" class="close glyphicon glyphicon-remove" ng-click=""></span>
                    <a href="#!/catalog/categories/edit/{{category.name}}">
                        <span id="edit-button" type="button" class="close glyphicon glyphicon-pencil" ng-click=""></span>
                    </a>
                </div>
                <a href="#!/catalog/{{category.name}}">
                    <img ng-src="/resources/image/categories/{{category.id}}.jpg" id="photo">
                    <div id="inner-container">
                        <div class="capital-row">{{category.name}}</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>