<head>
    <link rel="stylesheet" href="/catalog/categories/catalog-categories.styles.css"/>
</head>

<div id="panel-heading" class="panel-heading">
    Classification
    <span id="create-panel" ng-if="isAuthority('ADMIN')">
        <a id="create-product" href="#!/catalog/products/create/">
            <button type="button" class="btn btn-default category-actions-button">Add product</button>
        </a>
        <a href="#!/catalog/categories/create/">
            <button type="button" class="btn btn-default category-actions-button">Add category</button>
        </a>
    </span>
</div>
<div class="panel-body">
    <div ng-repeat="category in categories | orderBy:orderProp">
        <div class="col-xs-3 container">
            <div class="thumbnail" onmouseover="mouseOverCategory(this)" onmouseout="mouseOutCategory(this)">
                <div id="edit-container" ng-show="isAuthority('ADMIN')">
                    <span type="button" class="close glyphicon glyphicon-remove" ng-click="delete(category)"
                          data-toggle="tooltip" title="Remove"></span>
                    <a href="#!/catalog/categories/edit/{{category.name}}">
                        <span id="edit-button" type="button" class="close glyphicon glyphicon-pencil"
                              data-toggle="tooltip" title="Edit"></span>
                    </a>
                </div>
                <a href="#!/catalog/{{category.name}}">
                    <img ng-src="data:image/jpeg;base64,{{category.photo}}" id="photo">
                    <div id="inner-container">
                        <div class="capital-row">{{category.name}}</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>