<head>
    <link rel="stylesheet" href="/catalog/categories/category.editor/category-editor.styles.css"/>
</head>

<div id="panel-heading" class="panel-heading">
    Edit category
</div>
<div class="panel-body">

    <div class="col-xs-3 container">
        <div class="thumbnail">
            <!--<img ng-src="/resources/image/categories/{{category.id}}.jpg" id="photo">-->

            <!--<button id="choosePhoto2" type="button" class="btn btn-default">-->
                <!--Choose photo-->
            <!--</button>-->

            <input ng-model="photo" id="choosePhoto" type="file">

        </div>
    </div>

    <div class="col-xs-3">
        <form>
            <div class="form-group">
                <label for="name">Name:</label>
                <input id="name" ng-model="name" class="form-control" placeholder="Category name">
            </div>
            <button id="save" ng-click="save()" type="button" class="btn btn-success">Save</button>
        </form>
    </div>

</div>