.thumbnail {
    border-radius: 0px;
    margin: 0;
    height: 360px;
    width: 300px;
    padding: 0;
    text-align: center;
}
.container {
    padding: 5px;
    height: 370px;
    width: 310px;
}
#photo {
    width: 298px;
    height: 298px;
}
#inner-container {
    padding: 5px;
}
#panel-heading {
    text-align: center;
    color: #2c5c11;
    font-size: 18px;
    font-weight: bold;
    font-family: Cambria;
}
input#name {
    width: 300px;
}
button#save{
    width: 200px;
}
input#choosePhoto{
    margin-top: 50%;
}