.panel-body {
    text-align: center;
}
.thumbnail {
    border-radius: 0px;
    margin: 0;
    height: 300px;
    width: 300px;
    padding: 0;
    text-align: center;
}
.container {
    padding: 5px;
    height: 310px;
    width: 310px;
}
#photo {
    width: 298px;
    height: 298px;
}
#inner-container {
    padding: 5px;
}
#panel-heading {
    text-align: center;
    color: #2c5c11;
    font-size: 18px;
    font-weight: bold;
    font-family: Cambria;
    position: relative;
}
input#name {
    width: 300px;
}
button#save{
    margin-top: 10px;
    width: 300px;
}
input#choosePhoto{
    margin-top: 50%;
}
div#message-container {
    height: 25px;
}
#errorMessage {
    color: red;
}
#successMessage {
    color: green;
}
#create-category {
    color: inherit;
    position: absolute;
    right: 15px;
}
.category-actions-button {
    height: 24px;
    padding-top: 1px;
    margin-left: 2px;
    width: 127px;
}
.form-group {
    text-align:center;
    display: inline-block;
}