.panel-body {
    text-align: center;
}
.thumbnail {
    border-radius: 0px;
    margin: 0;
    height: 300px;
    width: 300px;
    padding: 0;
    text-align: center;
    position: relative;
}
.container {
    padding: 5px;
    height: 310px;
    width: 310px;
}
#photo {
    width: 298px;
    height: 298px;
}
#inner-container {
    padding: 5px;
}
#panel-heading {
    text-align: center;
    color: #2c5c11;
    font-size: 18px;
    font-weight: bold;
    font-family: Cambria;
    position: relative;
}
input#name {
    width: 300px;
}
button#save{
    margin-top: 10px;
    width: 300px;
}
div#message-container {
    margin-top: 20px;
    height: 25px;
}
#errorMessage {
    color: red;
}
#successMessage {
    color: green;
}
#create-category {
    color: inherit;
    position: absolute;
    right: 15px;
    top: 5px;
}
.category-actions-button {
    height: 24px;
    padding-top: 1px;
    margin-left: 2px;
    width: 127px;
}
.form-group {
    text-align:center;
    display: inline-block;
}
#choose-photo-input {
    display: none;
}
#choose-photo-container {
    position: absolute;
    height: 300px;
    width: 300px;
    text-align: center;
    visibility: hidden;
}
#choose-photo-button {
    margin-top: 45%;
    outline: none;
    box-shadow: none;
}
#choose-photo-label {
    margin-top: 30%;
    font-size: 20px;
    color: lightgray;
}
#hr-heading {
    margin: 10px 0em 0em;
}