<head>
    <link rel="stylesheet" href="/catalog/categories/category.editor/category-editor.styles.css"/>
</head>

<div id="panel-heading" class="panel-heading">
    {{action}} category
    <span id="create-category" ng-if='editor'>
        <a href="#!/catalog/categories/create/">
            <button type="button" class="btn btn-default category-actions-button">Add category</button>
        </a>
        <button type="button" class="btn btn-default category-actions-button" ng-click="delete(category)">
            Remove category
        </button>
    </span>
</div>
<div class="panel-body">

    <form ng-submit="save()">

        <div class="container">
            <div class="thumbnail">
                <!--<img ng-src="/resources/image/categories/{{category.id}}.jpg" id="photo">-->

                <!--<button id="choosePhoto2" type="button" class="btn btn-default">-->
                <!--Choose photo-->
                <!--</button>-->

                <input ng-model="photo" id="choosePhoto" type="file" required>

            </div>
        </div>

        <div class="form-group">
            <input id="name" ng-model="name" class="form-control" placeholder="Category name" required>
        </div>

        <div>
            <button id="save" type="submit" class="btn btn-success">Save</button>

            <div id="message-container">
                <span id="errorMessage">{{errorMessage}}</span>
                <span id="successMessage">{{successMessage}}</span>
            </div>
        </div>
    </form>

</div>