<head>
    <link rel="stylesheet" href="/basket/basket.styles.css"/>
</head>

<div class="app-modal-window">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"  ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Basket <span class="glyphicon glyphicon-shopping-cart"></span>
            <span id="basketSize">({{basketSize}})</span></h4>
    </div>

    <div id="emptyCondition" ng-show="isEmpty()">
        Your basket is empty
    </div>

    <div class="modal-body">
        <div id="productBloc" ng-repeat="product in basket">

            <img ng-src="/resources/image/products/{{product.id}}.jpg" id="productPhoto">

            <div id="detailContainer">
                <div id="productName">
                    {{product.name}}
                </div>
                <div id="productPrice">Price:&nbsp;{{product.price}}&nbsp;$</div>
            </div>

            

            <hr>
        </div>
    </div>
</div>
