.modal-body {
    padding: 20px;
}
#basketSize {
    font-size: 15px
}
#emptyCondition {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    color: gray;
}
#productName {
    vertical-align: top;
    font-size: 15px;
    font-weight: bold;
    width: 400px;
    height: 50px;
    display: inline-block;
}
#productPhoto {
    width: 100px;
    height: 100px;
}
hr {
    border-color: #c7bfbf;
}
.column {
    display: inline-table;
    vertical-align: top;
    margin-left: 10px;
}
#productPrice {
    margin-top: 20px;
    color: #989898;
}
#total {
    margin-top: 36px;
    color: #989898;
}
#numberField {
    width: 150px;
}
.btn {
    height: 34px;
}
#number-spinner-container {
    display: inline-flex;
    vertical-align: top;
}
#orderContainer {
    text-align: right;
}
#orderAmount {
    margin-left: 300px;
    margin-top: 5px;
    float: left;
}




