<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DrunkIrishman</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/resources/bootstrap/css/bootstrap.min.css">
</head>
<body ng-app="mainApp">

    <div class="container" style="margin-top: 30px" ng-controller="UsersCtrl">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Users:</div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>email</th>
                                <th>name</th>
                                <th>surname</th>
                                <th>address</th>
                                <th>phone</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="user in users">
                                <td>{{user.email}}</td>
                                <td>{{user.name}}</td>
                                <td>{{user.surname}}</td>
                                <td>{{user.address}}</td>
                                <td>{{user.phone}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="/resources/bootstrap/jquery-3.2.1.min.js"></script>
<script src="/resources/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/resources/js/angular.min.js"></script>
    <script type="text/javascript" src="/resources/js/main.js"></script>
</body>
</html>