<head>
    <link rel="stylesheet" href="/sign.up/sign-up.styles.css"/>
</head>

<section id="sign-up">
    <form ng-submit="submit()" method="post" class="form-horizontal" id="sign-up-form" autocomplete="off">

        <h1>Create your account</h1>

        <div id="errorMessage">
            {{errorMessage}}
        </div>

        <div class="form-group">
            <label for="firstName" class="col-sm-3 control-label"><span class="req">* </span>First Name</label>
            <div class="col-sm-9">
                <input ng-model="firstName" class="form-control" type="text" id="firstName"
                       onkeyup="validateText(this)" placeholder="Insert your Firs Name" required/>
                <div id="errFirst"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="lastName" class="col-sm-3 control-label"><span class="req">* </span>Last Name</label>
            <div class="col-sm-9">
                <input ng-model="lastName" class="form-control" type="text" id="lastName" onkeyup="validateText(this)"
                       placeholder="Insert your Last Name" required/>
                <div id="errLast"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-3 control-label"><span class="req">* </span>E-mail</label>
            <div class="col-sm-9">
                <input ng-model="email" class="form-control" type="email" id="email"
                       onchange="validateEmail(this.value);" placeholder="somebody@example.com" required/>
                <div class="status" id="status"></div>
            </div>
        </div>

        <div class="form-group">
            <label for="pass1" class="col-sm-3 control-label"><span class="req">* </span>Password</label>
            <div class="col-sm-9">
                <input ng-model="password" type="password" class="form-control inputpass" minlength="4" maxlength="16"
                       id="pass1" placeholder="Insert your Password" required/>
            </div>
        </div>

        <div class="form-group">
            <label for="pass2" class="col-sm-3 control-label"><span class="req">* </span>Confirm Password</label>
            <div class="col-sm-9">
                <input type="password" class="form-control inputpass" minlength="4" maxlength="16"
                       placeholder="Confirm your Password" id="pass2" required
                       onkeyup="checkPass(); return false;"/>
                <span id="confirmMessage" class="confirmMessage"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="birthDate" class="col-sm-3 control-label"><span class="req">* </span>Date of Birth</label>
            <div class="col-sm-9">
                <input ng-model="birthDate" type="date" id="birthDate" class="form-control" required>
            </div>
        </div>

        <div class="form-group">
            <label for="address" class="col-sm-3 control-label">Address</label>
            <div class="col-sm-9">
                <input ng-model="address" class="form-control" type="text" id="address" onkeyup="validateAddress(this)"
                       placeholder="Insert your Address"/>
            </div>
        </div>

        <div class="form-group">
            <label for="phone" class="col-sm-3 control-label"><span class="req">* </span>Contact Phone</label>
            <div class="col-sm-9">
                <input ng-model="phone" type="text" id="phone" class="form-control phone" maxlength="28"
                       onkeyup="validatePhone(this);" placeholder="Insert your Phone Number" required/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <button type="submit" class="btn btn-custom btn-lg btn-block">Sign up</button>
            </div>
        </div>

    </form>

    <script type="text/javascript">
        document.getElementById("field_terms").setCustomValidity("Please indicate that you accept the Terms and Conditions");
    </script>
</section>