#panel-heading {
    text-align: center;
    color: #2c5c11;
    font-size: 18px;
    font-weight: bold;
    font-family: Cambria;
    position: relative;
}
#hr-heading {
    margin: 10px 0em 0em;
}
#list-group-item {
    border-radius: 1px;
    height: 50px;
}
#list-group {
    margin: 0 0 5px;
}