#panel-heading {
    text-align: center;
    color: #2c5c11;
    font-size: 18px;
    font-weight: bold;
    font-family: Cambria;
}
.panel-body {
    padding: 20px;
}
.thumbnail {
    border-radius: 0px;
    margin: 10px;
    height: 402px;
    width: 402px;
    padding: 0;
}
#photo {
    width: 400px;
    height: 400px;
}
#capital-row {
    font-weight: bold;
    height: 40px;
}
#buy-button {
    width: 150px;
    margin-top: 20px;
}
.spinner-btn {
    height: 34px;
}
#numberField {
    width: 150px;
}
#number-spinner-container {
    margin-top: 20px;
    display: inline-flex;
    vertical-align: top;
}
#price {
    padding: 1px 5px 1px 5px;
    background-color: #9edf1f;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border-radius: 5px;
}
.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance:textfield !important;
}