<head>
    <link rel="stylesheet" href="/catalog/product.detail/product-detail.styles.css"/>
</head>

<div id="panel-heading" class="panel-heading">
    <a id="category" href="#!/catalog/{{categoryName}}">{{categoryName}}</a>
    <span id="create-product" ng-if="isAuthority('ADMIN')">
        <a href="#!/catalog/products/edit/{{product.id}}">
            <button type="button" class="btn btn-default product-actions-button">Edit product</button>
        </a>
        <a href="#!/catalog/products/create/">
            <button type="button" class="btn btn-default product-actions-button">Add product</button>
        </a>
        <button type="button" class="btn btn-default product-actions-button" ng-click="delete(product)">
            Remove product
        </button>
    </span>
</div>
<div class="panel-body">
    <div class=" col-sm-4 thumbnail">
        <img ng-src="/resources/image/products/{{product.id}}.jpg" id="photo">
    </div>
    <form>
    <div class="col-sm-4" id="main-information">

        <div id="capital-row">
            {{product.name}}
        </div>

        <div id="price-container">
            <span id="price">
                {{product.price}}&nbsp;$
            </span>
        </div>

        <div id="capacity">
            Capacity:&nbsp;{{product.capacity}}&nbsp;l
        </div>

    </div>

    <div class="col-sm-2" id="buy-container">
        <div>
            <a>
                <button ng-click="addToBasket(product)" type="button" class="btn btn-success" id="buy-button"
                        ng-disabled="!isInStock(product)">
                    Add to basket
                </button>
            </a>
        </div>

        <div id="number-spinner-container">
            <div class="input-group number-spinner" id="number-field">
                <span class="input-group-btn">
                    <button class="btn btn-default spinner-btn" data-dir="dwn" ng-disabled="!isInStock(product)">
                            <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </span>
                <input ng-model="number" type="number" min="1" max="1000" class="form-control text-center no-spin"
                       ng-disabled="!isInStock(product)">
                <span class="input-group-btn">
                    <button class="btn btn-default spinner-btn" data-dir="up" ng-disabled="!isInStock(product)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
        </div>

        <div id="availability">
            Availability:&nbsp;
            <span ng-show="isInStock(product)" id="inStockStatus">In stock</span>
            <span ng-hide="isInStock(product)" id="soldOutStatus">Sold out</span>
        </div>

    </div>

    <div class="col-sm-8" id="description-container">
        <b>Description:</b>
        <textarea id="description" ng-model="description" class="form-control" readonly></textarea>
    </div>
    </form>

</div>