#panel-heading {
    text-align: center;
    color: #2c5c11;
    font-size: 18px;
    font-weight: bold;
    font-family: Cambria;
    position: relative;
}
.panel-body {
    padding: 20px;
}
.thumbnail {
    border-radius: 0px;
    margin: 10px;
    height: 402px;
    width: 402px;
    padding: 0;
}
#photo {
    width: 400px;
    height: 400px;
}
#capital-row {
    font-weight: bold;
    height: 40px;
}
#buy-button {
    width: 150px;
    margin-top: 20px;
}
.spinner-btn {
    height: 34px;
}
#number-field {
    width: 150px;
}
#number-spinner-container {
    margin-top: 20px;
    display: inline-flex;
    vertical-align: top;
}
#price {
    padding: 2px 6px 2px 6px;
    background-color: #9edf1f;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border-radius: 5px;
}
div#price-container {
    margin-top: 10px;
}
.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance:textfield !important;
}
a#category {
    color: inherit;
}
div#main-information {
    margin-top: 10px;
    padding-left: 10px;
}
div#capacity {
    margin-top: 30px;
    margin-bottom: 50px
}
div#buy-container {
    padding-left: 30px;
    margin-top: 10px;
}
div#description-container {
    margin-top: 50px;
}
textarea#description {
    margin-top: 5px;
    height:auto;
    padding:0;
    border: none;
    resize: none;
    background-color: inherit;
    outline: none;
    box-shadow: none;
}
#inStockStatus {
    color: #5cb85c;
}
#soldOutStatus {
    color: #717171;
}
div#availability{
    margin-top: 30px;
    margin-left: 2px;
}
#create-product {
    color: inherit;
    position: absolute;
    right: 15px;
}
.product-actions-button {
    height: 24px;
    padding-top: 1px;
    margin-left: 2px;
    width: 127px;
}