<head>
    <link rel="stylesheet" href="/order/creation/order-creation.styles.css"/>
</head>

<div class="panel-body">
    <form id="order-form" class="col-sm-6 col-sm-offset-3">
        <div id="capital-row">Check the data</div>

        <div class="col-sm-3 block-container">
            <div>
                {{userInformation.name}} {{userInformation.surname}}
            </div>

            <div class="form-group">
                <input ng-model="phone" id="phone" class="form-control phone" maxlength="28"
                       oninput="validatePhone(this);" placeholder="Insert your Phone Number *" required/>
            </div>

            <div class="form-group">
                    <textarea ng-model="address" class="form-control" id="address" oninput="validateAddress(this)"
                              placeholder="Insert your Address *" required maxlength="300"/>
            </div>

        </div>

        <div class="col-sm-3 block-container">
            <select class="form-control" id="pay-method" required>
                <option value="" disabled selected hidden>Payment method</option>
                <option value="delivery">Cash on delivery</option>
                <option value="online">Pay with a bank card</option>
            </select>

            <div class="checkbox">
                <label><input type="checkbox" value="">Delivery by courier</label>
            </div>

            <button id="process-order" ng-click="processOrder()" type="submit" class="btn btn-success">
                Confirm and process the order
            </button>
        </div>

    </form>
</div>