#order-form {
    margin-top: 50px;
}
#capital-row {
    color: #1fa67b;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    margin-left: 10px;
}
.form-group {
    margin-top: 10px;
    font-size: 13px;
}
input#phone {
    border-radius: 1px;
    width: 250px;
    height: 25px;
    font-size: 13px;
    outline: none;
    box-shadow: none;
}
textarea#address {
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 1px;
    height: 80px;
    width: 250px;
    outline: none;
    box-shadow: none;
}
.block-container {
    width: 50%;
    padding-top: 10px;
}
select#pay-method {
    margin-top: 30px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 1px;
    width: 250px;
    height: 25px;
    font-size: 13px;
    outline: none;
    box-shadow: none;
}
button#process-order {
    margin-top: 20px;
    width: 250px;
}
div#errorMessage {
    text-align: center;
    margin-top: 10px;
    color: red;
}